@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Wanna Make a Comment?!</h1>
</div>

<div class="row justify-content-md-center">
    <div class="col-sm-8 card card-body bg-light ">
        <partial name="_Register.cshtml"/>
    </div>
    <div class="col-sm-8 card card-body bg-light ">
        <partial name="_Login.cshtml"/>
    </div>
</div>
